

@media (min-width: 768px) {

    .app-table-naga {

        .app-theader,
        .app-tbody {
            .app-trow {

                .app-tcol{
                    margin-right: 10px;
                }

                .app-tcol:nth-child(1) {
                    min-width: 50px;
                }

                .app-tcol:nth-child(2) {
                    min-width: 112px;
                }

                .app-tcol:nth-child(3) {
                    min-width: 85px;

                    .form-control {
                        width: 80px;
                        min-width: 80px;
                        text-align: right;
                    }
                }

                .app-tcol:nth-child(4) {
                    .form-control {
                        min-width: 80px;
                        text-align: right;
                    }
                }

                .app-tcol:nth-child(5) {
                    min-width: 93px;

                    .form-control {
                        width: 90px;
                        min-width: 90px;
                        text-align: right;
                    }
                }

                .app-tcol:nth-child(6) {
                    min-width: 30px;
                }

            }
        }
        
    }
}
